.footer {
    background-color: #242b3d;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 60px;
    text-align: center;
    margin: auto;
    padding: 10px;
    font-family:'Times New Roman', Times, serif;
    font-size: 1.15em;
  }

  .footer p {
    color: white;
    margin-top: 20px;
  }
  